{% extends "base.html" %}


{% block contain %}


<div class="book_apointment_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="popup_box ">
                    <div class="popup_inner">
                        <h3>
                            Veuillez vous
                        <span>Connectez</span>
                        </h3>
                        <form action="#">
                            <div class="row">
                                
                                <div class="col-xl-9" mx-auto>
                                    <input type="email"   placeholder="Votre email ">
                                </div>

                                <div class="col-xl-9" mx-auto>
                                    <input  type="password" placeholder="Votre code">
                                </div>
                                
                                <div class="col-xl-9" mx-auto>
                                    <button type="submit" class="boxed-btn3">Connexion</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}